@import utils

list-container()
  reset-base()
  reset-cursor()
  overflow auto
  -webkit-overflow-scrolling touch

list-header()
  margin 0

list()
  reset-list()

list-item()
  margin 0
  padding 0
